# Packages
.venv
*.egg
*.egg-info

# Testenvironment
.tox

# Build directories
publish-docs/
security-guide/build
security-guide/source/locale/.doctrees
security-threat-analysis/build

# Transifex Client Setting
.tx
