.DS_Store
*.xpr

# Packages
.venv
*.egg
*.egg-info

# Testenvironment
.tox

# Build directories
target/
publish-docs/
generated/
/build-*.log.gz
security-guide-rst/build

# Transifex Client Setting
.tx

# Editors
*~
.*.swp
.bak
