# Packages
.venv
*.egg
*.egg-info

# Testenvironment
.tox

# Build directories
publish-docs/
security-guide/build
security-guide/source/locale/.doctrees
security-threat-analysis/build

# Transifex Client Setting
.tx
# Security notes build output
security-notes/build/
security-notes/source/*.rst
security-notes/source/index.rst
security-notes/source/__pycache__/
